<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="default-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; script-src 'self' 'unsafe-inline' 'unsafe-eval'; img-src 'self' data:; connect-src 'self' https://*.supabase.co;" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <!-- Don't interfere with the node.js directory -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server/index.js/_utils" />
        </rule>

        <!-- All other requests are handled by the node.js backend -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server/index.js" />
        </rule>
        
        <!-- Static files -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^cgpwmu/(.*)" title="Rewrite static content" />
          <conditions>
            <add input="{DOCUMENT_ROOT}/cgpwmu/public/{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
    
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
